n8n/workflows/content-factory-manual-poyo-lofi-hiphop-shorts.json
{
  "name": "Content Factory - Manual Poyo LoFi Hip Hop Shorts (AI)",
  "nodes": [
    {
      "parameters": {},
      "id": "lofi-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-visual",
              "name": "prompt_visual",
              "value": "Cozy late-night city for lo-fi hip hop: soft teal and purple neon, rainy window reflections, bedroom studio corner with sampler and vinyl, slow horizontal drift, tape warmth, chillhop mood, cinematic vertical composition",
              "type": "string"
            },
            {
              "id": "theme",
              "name": "theme",
              "value": "Lo-fi Hip Hop Night Session",
              "type": "string"
            },
            {
              "id": "track-meta",
              "name": "track_for_metadata",
              "value": "03 - Sea.mp3",
              "type": "string"
            },
            {
              "id": "tags",
              "name": "tags",
              "value": "lofi hip hop, chillhop, study beats, vertical, shorts, cozy, neon night",
              "type": "string"
            },
            {
              "id": "shorts-count",
              "name": "shorts_count",
              "value": "1",
              "type": "string"
            },
            {
              "id": "clip-sec",
              "name": "clip_seconds",
              "value": "30",
              "type": "string"
            },
            {
              "id": "seedance-model",
              "name": "seedance_model",
              "value": "seedance-2-fast",
              "type": "string"
            },
            {
              "id": "seedance-res",
              "name": "seedance_resolution",
              "value": "480p",
              "type": "string"
            },
            {
              "id": "seedance-dur",
              "name": "seedance_duration",
              "value": "15",
              "type": "string"
            },
            {
              "id": "shorts-privacy",
              "name": "shorts_privacy_status",
              "value": "public",
              "type": "string"
            },
            {
              "id": "out-name",
              "name": "output_filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "lofi-set-inputs",
      "name": "Set LoFi Hip Hop Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320],
      "notes": "Edit prompt_visual / track_for_metadata. seedance_model: set here (Code node cannot use $env on locked-down n8n). To drive from env: switch this field to Expression = {{ $env.POYO_SEEDANCE_MODEL || 'seedance-2-fast' }}"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const j = $input.first().json;\n// No $env here: many n8n installs block env access inside Code nodes.\nconst model = String(j.seedance_model || 'seedance-2-fast').trim() || 'seedance-2-fast';\nconst rawRes = String(j.seedance_resolution || '480p').trim().toLowerCase() || '480p';\nconst isFast = model.toLowerCase().includes('fast');\nconst candidates = isFast ? ['480p', '720p'] : ['480p', '720p', '1080p'];\nconst resolution = candidates.includes(rawRes) ? rawRes : (isFast ? '480p' : '720p');\n\nconst userPrompt = String(j.prompt_visual || '').trim();\nconst styleFix = 'lo-fi hip hop music video aesthetic, chillhop, soft neon palette, cozy mood, slow smooth camera, subtle 35mm grain, no people faces focus, no readable text, no logos, no watermark, vertical cinematic';\nconst prompt = [userPrompt, styleFix].filter(Boolean).join(', ');\n\nconst tags = String(j.tags || '')\n  .split(',')\n  .map((t) => t.trim())\n  .filter(Boolean);\n\nconst shortsCount = Math.max(1, parseInt(String(j.shorts_count || '1'), 10) || 1);\nconst clipSeconds = Math.max(5, parseInt(String(j.clip_seconds || '30'), 10) || 30);\n// PoYo Seedance 2: duration 4–15 seconds (API)\nconst rawDur = parseInt(String(j.seedance_duration || '15'), 10) || 15;\nconst duration = Math.min(15, Math.max(4, rawDur));\n\nconst rawName = String(j.output_filename || '').trim();\nconst outputFilename = rawName || `poyo-lofi-hiphop-${Date.now()}.mp4`;\n\nconst trackMeta = String(j.track_for_metadata || '').trim() || null;\nconst theme = String(j.theme || 'Lo-fi Hip Hop').trim();\nconst privacy = String(j.shorts_privacy_status || 'public').trim() || 'public';\n\nreturn [{\n  json: {\n    poyo_payload: {\n      model,\n      input: {\n        prompt,\n        aspect_ratio: '9:16',\n        resolution,\n        duration,\n        generate_audio: false,\n      },\n    },\n    output_filename: outputFilename,\n    track_for_metadata: trackMeta,\n    theme,\n    tags,\n    publish_at_iso: new Date().toISOString(),\n    shorts_count: shortsCount,\n    short_delay_hours: 0,\n    short_interval_hours: 24,\n    clip_seconds: clipSeconds,\n    shorts_privacy_status: privacy,\n    cleanup_source_after_publish: true,\n    cleanup_shorts_after_upload: true,\n  },\n}];\n"
      },
      "id": "lofi-build-poyo-payload",
      "name": "Build Poyo LoFi Shorts Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 320],
      "notes": "Does not use $env (blocked in Code sandbox). Model comes from Set → seedance_model."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.CONTENT_FACTORY_POYO_SHORTS_ONLY_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trigger-Key",
              "value": "={{$env.TRIGGER_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 1200000
        }
      },
      "id": "lofi-http-poyo-shorts",
      "name": "POST generate-poyo-shorts-only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 320],
      "notes": "Poyo + нарезка + загрузка шортов на YouTube. Generation может занять много минут — timeout увеличен."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set LoFi Hip Hop Inputs", "type": "main", "index": 0 }]]
    },
    "Set LoFi Hip Hop Inputs": {
      "main": [[{ "node": "Build Poyo LoFi Shorts Payload", "type": "main", "index": 0 }]]
    },
    "Build Poyo LoFi Shorts Payload": {
      "main": [[{ "node": "POST generate-poyo-shorts-only", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
