n8n/workflows/content-factory-manual-poyo-lofi-hiphop-shorts.json
{
  "name": "Content Factory - Manual PoYo Hailuo LoFi Hip Hop Shorts (AI)",
  "nodes": [
    {
      "parameters": {},
      "id": "lofi-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-visual",
              "name": "prompt_visual",
              "value": "Cozy late-night city for lo-fi hip hop: soft teal and purple neon, rainy window reflections, bedroom studio corner with sampler and vinyl, gentle slow tilt and vertical drift, tape warmth, chillhop mood, vertical portrait framing",
              "type": "string"
            },
            {
              "id": "theme",
              "name": "theme",
              "value": "Lo-fi Hip Hop Night Session",
              "type": "string"
            },
            {
              "id": "track-meta",
              "name": "track_for_metadata",
              "value": "03 - Sea.mp3",
              "type": "string"
            },
            {
              "id": "tags",
              "name": "tags",
              "value": "lofi hip hop, chillhop, study beats, vertical, shorts, cozy, neon night",
              "type": "string"
            },
            {
              "id": "shorts-count",
              "name": "shorts_count",
              "value": "1",
              "type": "string"
            },
            {
              "id": "clip-sec",
              "name": "clip_seconds",
              "value": "30",
              "type": "string"
            },
            {
              "id": "video-model",
              "name": "video_model",
              "value": "hailuo-2.3",
              "type": "string"
            },
            {
              "id": "hailuo-res",
              "name": "hailuo_resolution",
              "value": "768p",
              "type": "string"
            },
            {
              "id": "hailuo-dur",
              "name": "hailuo_duration",
              "value": "10",
              "type": "string"
            },
            {
              "id": "poyo-stitch",
              "name": "poyo_stitch_segments",
              "value": "1",
              "type": "string"
            },
            {
              "id": "shorts-privacy",
              "name": "shorts_privacy_status",
              "value": "public",
              "type": "string"
            },
            {
              "id": "out-name",
              "name": "output_filename",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "lofi-set-inputs",
      "name": "Set LoFi Hip Hop Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320],
      "notes": "poyo_stitch_segments: 1 = одно видео (10 с при hailuo_duration=10). Значение 2+ = несколько генераций PoYo + склейка на фабрике. Остальное: см. Code node."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const j = $input.first().json;\n// PoYo Hailuo 2.3 — https://docs.poyo.ai (POST /api/generate/submit)\n// poyo_stitch_segments 2+ = несколько задач + склейка; 1 = один клип.\nconst model = String(j.video_model || 'hailuo-2.3').trim() || 'hailuo-2.3';\nlet resolution = String(j.hailuo_resolution || '768p').trim().toLowerCase();\nif (!['768p', '1080p'].includes(resolution)) resolution = '768p';\n\nlet duration = parseInt(String(j.hailuo_duration || '10'), 10);\nif (![6, 10].includes(duration)) duration = duration <= 8 ? 6 : 10;\nif (resolution === '1080p' && duration === 10) duration = 6;\n\nconst userPrompt = String(j.prompt_visual || '').trim();\nconst styleFix = [\n  'vertical 9:16 portrait video for YouTube Shorts and TikTok',\n  'full-frame tall narrow composition, phone held upright, portrait orientation',\n  'NOT landscape, NOT 16:9 widescreen, NOT horizontal framing',\n  'lo-fi hip hop music video, chillhop, soft neon palette, cozy mood',\n  'gentle camera motion suited to vertical frame, subtle 35mm grain',\n  'no readable text, no logos, no watermark, no faces as main subject',\n].join(', ');\nconst prompt = [userPrompt, styleFix].filter(Boolean).join(', ');\n\nconst tags = String(j.tags || '')\n  .split(',')\n  .map((t) => t.trim())\n  .filter(Boolean);\n\nconst shortsCount = Math.max(1, parseInt(String(j.shorts_count || '1'), 10) || 1);\nconst clipSeconds = Math.max(5, parseInt(String(j.clip_seconds || '30'), 10) || 30);\nconst poyoStitchSegments = Math.min(4, Math.max(1, parseInt(String(j.poyo_stitch_segments || '1'), 10) || 1));\n\nconst rawName = String(j.output_filename || '').trim();\nconst outputFilename = rawName || `poyo-hailuo-lofi-${Date.now()}.mp4`;\n\nconst trackMeta = String(j.track_for_metadata || '').trim() || null;\nconst theme = String(j.theme || 'Lo-fi Hip Hop').trim();\nconst privacy = String(j.shorts_privacy_status || 'public').trim() || 'public';\n\nconst aspect = String(j.hailuo_aspect_ratio || '9:16').trim() || '9:16';\nconst input = {\n  prompt,\n  duration,\n  resolution,\n  aspect_ratio: aspect,\n  prompt_optimizer: j.hailuo_prompt_optimizer !== false && j.hailuo_prompt_optimizer !== 'false',\n};\nconst startUrl = String(j.hailuo_start_image_url || '').trim();\nif (startUrl) input.start_image_url = startUrl;\n\nreturn [{\n  json: {\n    poyo_payload: { model, input },\n    output_filename: outputFilename,\n    track_for_metadata: trackMeta,\n    theme,\n    tags,\n    publish_at_iso: new Date().toISOString(),\n    shorts_count: shortsCount,\n    short_delay_hours: 0,\n    short_interval_hours: 24,\n    clip_seconds: clipSeconds,\n    shorts_privacy_status: privacy,\n    cleanup_source_after_publish: true,\n    cleanup_shorts_after_upload: true,\n    poyo_stitch_segments: poyoStitchSegments,\n  },\n}];\n"
      },
      "id": "lofi-build-poyo-payload",
      "name": "Build Poyo LoFi Shorts Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 320],
      "notes": "PoYo hailuo-2.3. В input добавлен aspect_ratio 9:16 (если шлюз PoYo передаёт в модель). Вертикаль усиливается промптом. Опции: hailuo_start_image_url, hailuo_aspect_ratio, hailuo_prompt_optimizer=false."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content-lofi-youtube-factory-production.up.railway.app/generate-poyo-shorts-only",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trigger-Key",
              "value": "420"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 1200000
        }
      },
      "id": "lofi-http-poyo-shorts",
      "name": "POST generate-poyo-shorts-only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 320],
      "notes": "Railway production URL + X-Trigger-Key. Не коммитьте реальный секрет в публичный репозиторий — лучше снова вынести в env."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set LoFi Hip Hop Inputs", "type": "main", "index": 0 }]]
    },
    "Set LoFi Hip Hop Inputs": {
      "main": [[{ "node": "Build Poyo LoFi Shorts Payload", "type": "main", "index": 0 }]]
    },
    "Build Poyo LoFi Shorts Payload": {
      "main": [[{ "node": "POST generate-poyo-shorts-only", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
