n8n/workflows/content-factory-pexels-run-publish-with-shorts-every-2-days.json
{
  "name": "Content Factory - Pexels render + main & shorts every 2 days",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 17 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger-node",
      "name": "Daily check (runs workflow)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.CONTENT_FACTORY_BASE_URL || '').replace(/\\/+$/, '') + '/tracks' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trigger-Key",
              "value": "={{$env.TRIGGER_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-tracks-node",
      "name": "GET tracks list",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Track filenames come from GET /tracks (same discovery as server assets/tracks — sorted).\n// Set CONTENT_FACTORY_BASE_URL=https://your-deployment.fly.dev (same host as factory).\nconst data = $input.first().json;\nconst tracks = data.tracks || [];\n\nif (!tracks.length) {\n  return [];\n}\n\nconst themes = ['Lake Meditation', 'Ocean Calm', 'Forest Chill'];\nconst tagSets = [\n  ['nature', 'forest', 'lofi'],\n  ['ocean', 'waves', 'chill'],\n  ['rain', 'ambient', 'study'],\n];\n\nconst anchor = Date.parse('2026-01-01T02:00:00Z');\nconst now = Date.now();\nconst elapsedDays = Math.floor((now - anchor) / (24 * 60 * 60 * 1000));\n\nif (elapsedDays % 2 !== 0) {\n  return [];\n}\n\nconst cycleIndex = Math.floor(elapsedDays / 2) % tracks.length;\n\nconst mainAt = new Date(anchor + elapsedDays * 24 * 60 * 60 * 1000);\n\nreturn [{\n  json: {\n    track: tracks[cycleIndex],\n    allow_recent_preferred: false,\n    tags: tagSets[cycleIndex % tagSets.length],\n    theme: themes[cycleIndex % themes.length],\n    publish_at_iso: mainAt.toISOString(),\n    shorts_count: 3,\n    short_publish_offset_hours: [12, 24, 40],\n    shorts_use_main_track_thirds: true,\n    clip_seconds: 30,\n    main_privacy_status: 'public',\n    shorts_privacy_status: 'public',\n    cleanup_source_after_publish: true,\n    cleanup_shorts_after_upload: true\n  }\n}];"
      },
      "id": "build-pexels-publish-payload",
      "name": "Every 2 days: pick track + payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONTENT_FACTORY_RUN_PUBLISH_WITH_SHORTS_URL || (($env.CONTENT_FACTORY_BASE_URL || '').replace(/\\/+$/, '') + '/run-publish-with-shorts') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trigger-Key",
              "value": "={{$env.TRIGGER_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "http-run-publish-with-shorts",
      "name": "POST run-publish-with-shorts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Daily check (runs workflow)": {
      "main": [
        [
          {
            "node": "GET tracks list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET tracks list": {
      "main": [
        [
          {
            "node": "Every 2 days: pick track + payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 2 days: pick track + payload": {
      "main": [
        [
          {
            "node": "POST run-publish-with-shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
