n8n/workflows/content-factory-manual-long-then-12h-shorts.json
{
  "name": "Content Factory - manual 1st long, then every 12h short or next long",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */12 * * *"
            }
          ]
        }
      },
      "id": "cron-12h-node",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger-node",
      "name": "Manual — first long only",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sd = $getWorkflowStaticData('global');\nsd.entrySource = 'cron';\nreturn [{ json: {} }];"
      },
      "id": "mark-cron-node",
      "name": "Mark entry cron",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sd = $getWorkflowStaticData('global');\nsd.entrySource = 'manual';\nreturn [{ json: {} }];"
      },
      "id": "mark-manual-node",
      "name": "Mark entry manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        520
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.CONTENT_FACTORY_BASE_URL || '').replace(/\\/+$/, '') + '/tracks' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trigger-Key",
              "value": "={{$env.TRIGGER_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-tracks",
      "name": "GET tracks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Orchestration state: $getWorkflowStaticData('global')\n// pendingShorts: [{ path, index }], nextLongTrackIndex, mainMeta\n// Каждый лонг (индекс nextLongTrackIndex) — своя тема + свой набор хештегов из ROLL_PRESETS; плюс слова из имени файла трека (без дублей, до 15 тегов суммарно).\n// Если роликов больше чем пресетов — цикл по пресетам снова с начала.\n\nconst ROLL_PRESETS = [{\"theme\": \"Lake Sunrise · Quiet Canvas\", \"tags\": [\"lofi\", \"lake\", \"sunrise\", \"chillhop\", \"study beats\"]}, {\"theme\": \"Ocean Glass · Slow Tide\", \"tags\": [\"ocean\", \"waves\", \"ambient\", \"relax\", \"slow living\"]}, {\"theme\": \"Forest Mist · Deep Green\", \"tags\": [\"forest\", \"nature\", \"mist\", \"calm\", \"deep focus\"]}, {\"theme\": \"Rain Window · Study Hours\", \"tags\": [\"rain\", \"study music\", \"cozy\", \"ambient\", \"playlist\"]}, {\"theme\": \"City Night · Soft Neon\", \"tags\": [\"night city\", \"lofi\", \"urban chill\", \"beats\", \"late night\"]}, {\"theme\": \"Mountain Air · Wide Sky\", \"tags\": [\"mountains\", \"peaceful\", \"nature\", \"instrumental\", \"breathe\"]}, {\"theme\": \"River Stones · Steady Flow\", \"tags\": [\"river\", \"flow state\", \"focus\", \"gentle\", \"water sounds\"]}, {\"theme\": \"Desert Dawn · Warm Haze\", \"tags\": [\"desert aura\", \"warm\", \"slow\", \"meditation\", \"soft pads\"]}, {\"theme\": \"Cabin Wood · Fireplace Mind\", \"tags\": [\"cabin\", \"cozy lofi\", \"fireplace vibe\", \"winter calm\", \"slow\"]}, {\"theme\": \"Surf Faded · Golden Hour\", \"tags\": [\"surf\", \"golden hour\", \"chill\", \"summer vibe\", \"lofi hip hop\"]}, {\"theme\": \"Tokyo Alley · Lamp Glow\", \"tags\": [\"tokyo lofi\", \"night walk\", \"anime vibes\", \"chill beats\", \"rain mood\"]}, {\"theme\": \"Coffee Steam · 5 AM Desk\", \"tags\": [\"coffee shop\", \"morning lofi\", \"study grind\", \"soft jazz\", \"focus\"]}, {\"theme\": \"Train Window · Passing Fields\", \"tags\": [\"train journey\", \"travel lofi\", \"nostalgia\", \"calm\", \"instrumental\"]}, {\"theme\": \"Library Hush · Page Turn\", \"tags\": [\"library\", \"reading music\", \"quiet\", \"study\", \"minimal\"]}, {\"theme\": \"Garden Shade · Bees & Breeze\", \"tags\": [\"garden\", \"spring\", \"nature lofi\", \"peaceful\", \"daydream\"]}, {\"theme\": \"Harbor Rope · Seagull Slow\", \"tags\": [\"harbor\", \"seaside\", \"slow day\", \"ambient\", \"chillout\"]}, {\"theme\": \"Piano Dust · Sun Beam\", \"tags\": [\"piano lofi\", \"soft keys\", \"melancholy\", \"dreamy\", \"calm\"]}, {\"theme\": \"Synth Bloom · Pastel Sky\", \"tags\": [\"synth lofi\", \"retro chill\", \"pastel\", \"vapor calm\", \"beats\"]}, {\"theme\": \"Bamboo Path · Zen Step\", \"tags\": [\"zen\", \"bamboo\", \"meditation music\", \"spa calm\", \"asia vibe\"]}, {\"theme\": \"Snow Melt · Thin Light\", \"tags\": [\"winter ambient\", \"melting snow\", \"quiet\", \"slow life\", \"peace\"]}, {\"theme\": \"Market Morning · Soft Crowd\", \"tags\": [\"morning market\", \"life sounds\", \"gentle\", \"urban calm\", \"lofi\"]}, {\"theme\": \"Cliff Wind · Edge Silence\", \"tags\": [\"cliff\", \"wind sounds\", \"vast\", \"reflective\", \"nature\"]}, {\"theme\": \"Vintage Tape · Warm Room\", \"tags\": [\"tape lofi\", \"nostalgic\", \"warm room\", \"old school\", \"chill\"]}, {\"theme\": \"Lantern Festival · Paper Glow\", \"tags\": [\"festival night\", \"warm lights\", \"dreamy\", \"soft beats\", \"calm\"]}, {\"theme\": \"Tropical Haze · Palm Shade\", \"tags\": [\"tropical chill\", \"palm trees\", \"summer lofi\", \"relax\", \"island\"]}, {\"theme\": \"Meadow Bees · Long Afternoon\", \"tags\": [\"meadow\", \"afternoon nap\", \"nature\", \"slow\", \"peaceful\"]}, {\"theme\": \"Rooftop Wind · City Nap\", \"tags\": [\"rooftop\", \"city view\", \"nap music\", \"lofi\", \"skyline\"]}, {\"theme\": \"Subway Hum · Loop Thoughts\", \"tags\": [\"subway\", \"urban loop\", \"thinking beats\", \"night ride\", \"lofi\"]}, {\"theme\": \"Bookstore Cat · Muffled Rain\", \"tags\": [\"bookstore\", \"cozy rain\", \"soft pages\", \"quiet\", \"study\"]}, {\"theme\": \"Ferry Deck · Fog Horn Far\", \"tags\": [\"ferry\", \"fog\", \"slow travel\", \"sea mood\", \"ambient\"]}, {\"theme\": \"Greenhouse Glass · Dripping Leaf\", \"tags\": [\"greenhouse\", \"plants\", \"moist air\", \"calm focus\", \"nature\"]}, {\"theme\": \"Campfire Circle · Low Flame\", \"tags\": [\"campfire\", \"outdoor chill\", \"friends vibe\", \"guitar lofi\", \"night\"]}, {\"theme\": \"Abstract Blue · Shape Drift\", \"tags\": [\"abstract\", \"blue mood\", \"experimental chill\", \"soundscape\", \"relax\"]}, {\"theme\": \"Letter Ink · Folding Paper\", \"tags\": [\"letters\", \"nostalgia\", \"quiet desk\", \"slow piano\", \"emotion\"]}, {\"theme\": \"Bike Lane · Leaves Spin\", \"tags\": [\"bike ride\", \"autumn leaves\", \"easy day\", \"lofi\", \"motion\"]}, {\"theme\": \"Studio Lamp · Mix Quiet\", \"tags\": [\"studio\", \"producer chill\", \"late mix\", \"headphones\", \"focus\"]}, {\"theme\": \"Cloud Layer · Slow Drift\", \"tags\": [\"clouds\", \"drift\", \"sky lofi\", \"weightless\", \"calm\"]}, {\"theme\": \"Reef Shade · Slow Swim\", \"tags\": [\"underwater mood\", \"reef\", \"slow swim\", \"peaceful\", \"blue calm\"]}, {\"theme\": \"Clock Tick · 3 AM Thoughts\", \"tags\": [\"3am\", \"insomnia lofi\", \"late thoughts\", \"soft\", \"minimal\"]}, {\"theme\": \"Bridge Arch · River Under\", \"tags\": [\"bridge\", \"river under\", \"city calm\", \"walk music\", \"lofi\"]}, {\"theme\": \"Wildflower Hill · Bees Low\", \"tags\": [\"wildflowers\", \"hill walk\", \"spring calm\", \"nature\", \"soft\"]}, {\"theme\": \"Neon Rain · Puddle Walk\", \"tags\": [\"neon rain\", \"reflection\", \"cyber chill\", \"night walk\", \"lofi\"]}, {\"theme\": \"Sail Slack · Rope Creak\", \"tags\": [\"sailing\", \"rope creak\", \"slow ocean\", \"wind lofi\", \"peace\"]}, {\"theme\": \"Teahouse Steam · Wood Screen\", \"tags\": [\"teahouse\", \"steam\", \"wood tone\", \"asia calm\", \"slow tea\"]}, {\"theme\": \"Mirror Lake · No Ripple\", \"tags\": [\"mirror lake\", \"still water\", \"meditation\", \"silence\", \"nature\"]}, {\"theme\": \"Desert Road · Long Line\", \"tags\": [\"road trip\", \"desert road\", \"horizon\", \"travel lofi\", \"drive\"]}];\n\nfunction tagsFromTrackPath(trackRelPath) {\n  const base = String(trackRelPath || '').split('/').pop().replace(/\\.[^.]+$/, '');\n  const chunks = base.split(/[-–—_\\s]+/).map((s) => s.replace(/^\\d+\\s*/, '').trim().toLowerCase()).filter((s) => s.length > 2);\n  const out = [];\n  for (const c of chunks.slice(0, 5)) {\n    const t = c.replace(/[^a-z0-9\\u0400-\\u04FF-]/gi, '');\n    if (t.length > 1) out.push(t);\n  }\n  return out;\n}\n\nfunction mergeTags(presetTags, extra, maxLen) {\n  const seen = new Set();\n  const res = [];\n  for (const t of [...presetTags, ...extra]) {\n    const k = String(t).toLowerCase();\n    if (!k || seen.has(k)) continue;\n    seen.add(k);\n    res.push(t);\n    if (res.length >= maxLen) break;\n  }\n  return res;\n}\n\nconst sd = $getWorkflowStaticData('global');\nconst entry = sd.entrySource || 'cron';\nconst tracks = $input.first().json.tracks || [];\n\nif (!tracks.length) {\n  return [];\n}\n\nsd.pendingShorts = sd.pendingShorts || [];\nsd.nextLongTrackIndex = sd.nextLongTrackIndex ?? 0;\nsd.mainMeta = sd.mainMeta || { title: '', description: '', tags: [] };\n\nif (entry === 'manual') {\n  if (sd.pendingShorts.length > 0) return [];\n  if (sd.nextLongTrackIndex !== 0) return [];\n}\n\nif (sd.pendingShorts.length > 0) {\n  const head = sd.pendingShorts[0];\n  const meta = sd.mainMeta;\n  return [{\n    json: {\n      kind: 'publish',\n      publishBody: {\n        short_path: head.path,\n        main_title: meta.title || 'Short',\n        description: meta.description || '',\n        tags: Array.isArray(meta.tags) ? meta.tags : [],\n        short_index: typeof head.index === 'number' ? head.index : 0,\n        shorts_privacy_status: 'public',\n        cleanup_after: true\n      }\n    }\n  }];\n}\n\nif (sd.nextLongTrackIndex >= tracks.length) {\n  return [];\n}\n\nif (entry === 'cron' && sd.nextLongTrackIndex === 0) {\n  return [];\n}\n\nconst idx = sd.nextLongTrackIndex;\nconst track = tracks[idx];\nconst preset = ROLL_PRESETS[idx % ROLL_PRESETS.length];\nconst theme = preset.theme;\nconst tags = mergeTags(preset.tags, tagsFromTrackPath(track), 15);\n\nreturn [{\n  json: {\n    kind: 'render',\n    renderBody: {\n      track,\n      allow_recent_preferred: false,\n      tags,\n      theme,\n      publish_at_iso: new Date().toISOString(),\n      shorts_count: 3,\n      short_publish_offset_hours: [12, 24, 36],\n      shorts_use_main_track_thirds: true,\n      main_privacy_status: 'public',\n      shorts_privacy_status: 'public',\n      cleanup_source_after_publish: true,\n      cleanup_shorts_after_upload: true,\n      clip_seconds: 30\n    }\n  }\n}];"
      },
      "id": "router-node",
      "name": "Route: render long vs publish short",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-kind-render",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "render",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-render-node",
      "name": "If kind is render",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONTENT_FACTORY_WORKFLOW_RENDER_URL || (($env.CONTENT_FACTORY_BASE_URL || '').replace(/\\/+$/, '') + '/workflow/render-main-and-shorts') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trigger-Key",
              "value": "={{$env.TRIGGER_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.renderBody) }}"
      },
      "id": "http-render-main",
      "name": "POST render-main-and-shorts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json;\nconst sd = $getWorkflowStaticData('global');\nconst w = body.workflow || {};\nconst files = w.shorts_files || [];\nsd.pendingShorts = files.map((f) => ({ path: f.path, index: f.index }));\nconst mm = w.main_meta || {};\nsd.mainMeta = {\n  title: mm.title || '',\n  description: mm.description || '',\n  tags: Array.isArray(mm.tags) ? mm.tags : []\n};\nsd.nextLongTrackIndex = (sd.nextLongTrackIndex ?? 0) + 1;\nreturn [{ json: { committed: 'render', shortsQueued: sd.pendingShorts.length, nextLongTrackIndex: sd.nextLongTrackIndex } }];"
      },
      "id": "commit-render-node",
      "name": "Commit after long render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-kind-publish",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "publish",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-publish-node",
      "name": "If kind is publish",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONTENT_FACTORY_PUBLISH_SHORT_URL || (($env.CONTENT_FACTORY_BASE_URL || '').replace(/\\/+$/, '') + '/workflow/publish-short') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trigger-Key",
              "value": "={{$env.TRIGGER_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.publishBody) }}"
      },
      "id": "http-publish-short",
      "name": "POST publish-short",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (sd.pendingShorts && sd.pendingShorts.length) {\n  sd.pendingShorts.shift();\n}\nreturn [{ json: { committed: 'publish', remainingShorts: sd.pendingShorts.length } }];"
      },
      "id": "commit-publish-node",
      "name": "Commit after short upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        520
      ]
    }
  ],
  "connections": {
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Mark entry cron",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual — first long only": {
      "main": [
        [
          {
            "node": "Mark entry manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark entry cron": {
      "main": [
        [
          {
            "node": "GET tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark entry manual": {
      "main": [
        [
          {
            "node": "GET tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET tracks": {
      "main": [
        [
          {
            "node": "Route: render long vs publish short",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: render long vs publish short": {
      "main": [
        [
          {
            "node": "If kind is render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If kind is render": {
      "main": [
        [
          {
            "node": "POST render-main-and-shorts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If kind is publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST render-main-and-shorts": {
      "main": [
        [
          {
            "node": "Commit after long render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If kind is publish": {
      "main": [
        [
          {
            "node": "POST publish-short",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "POST publish-short": {
      "main": [
        [
          {
            "node": "Commit after short upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
